.contact__container {
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 3rem;
}
.contact__title {
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}
.contact__info {
    grid-template-columns: repeat(3, max-content) !important;
    display: grid; 
    row-gap: 1rem;
    grid-template-columns: 300px;
    margin-bottom: var(--mb-2);
    justify-content: center;
    gap: 0.5rem;
}

.contact__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}



@media screen and (max-width: 992px) {
    .contact__container {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
  }
  
  
  @media screen and (max-width: 576px) {
    .contact__info {
        grid-template-columns: repeat(1, max-content) !important;
        grid-template-columns: 1fr;
    }

    .contact__content {
        padding: 1.5rem;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .contact__card {
        column-gap: 1.25rem;
    }

    .contact__name {
        font-size: var(--small-font-size);
    }
  }
  